@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body {
	height: 100%;
	font-size: 19px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
	text-align: center;
	background-color: #f8f6f0;
}

.container {
    width: 45%;
}

#img-scale-down {
    width: 43%;
}

table {
    width: 70%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}

th {
    text-align: center;
    background-color: #ddf6dd;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}
