body {
  height: 100%;
  text-align: center;
  background-color: #eee; /* #eee */
  font-family: 'Montserrat', sans-serif;
}

.container {
    width: 45%;
}

#img-scale-down {
    width: 40%;
}
